@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 24 17;
    --foreground: 246 248 246;
  }
}

body {
  @apply bg-background text-text;
}

/* Glassmorphism utility */
.glass {
  @apply bg-background/80 backdrop-blur-md border border-white/10;
}
